body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}
footer {
  background: #2f303a;
}
:root {
  --brand-color: #2196f3;
  --accent-color: black;
  --text-color: color: #757575;
  --letter-color: #FFFFFF;
  --background-color: #F5F4FA
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;  
}

/*-------------------HEADER-------------------*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.logo-dark {
  color: var(--accent-color);
}
.logo-light {
  color:var(--letter-color);
}
.nav{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.nav:hover,
.nav:focus {
  color: var(--brand-color);
}
.nav .link.current {
  color: var(--brand-color);
}

/*-----------CONTACTS-----------*/


.link.contacts{
  color:var(--text-color);
}
.link.contacts:hover,
.link.contacts:focus {
  color: var(--brand-color);
  
}

/*----------HERO------------*/
.hero {
  background-color: #2f303a;
  width: 1600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--letter-color);
}
.hero-button {

  background-color: var(--brand-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color:var(--letter-color);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:active {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*----------FEATURES------------*/
.ghost{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.features-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.features-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color:var(--text-color);
}
/*-----------WORKS-----------*/
.title-features {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/*---------TEAM------------*/
.team-section{
  background-color: var(--background-color);
}
.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*----------ADDRESS-----------*/
.address{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.map {  
  color:var(--letter-color)
}
.map:hover,
.map:focus{
  color: var(--brand-color);
}
.mail { 
  color: rgba(255, 255, 255, 0.6);
}
.mail:hover,
.mail:focus{
  color: var(--brand-color);
}
.tel { 
  color: rgba(255, 255, 255, 0.6);
}
.tel:hover,
.tel:focus{
  color: var(--brand-color);
}

/*------------FILTERS--------------*/

.btn-item {
  font-family: inherit;
  background: #f5f4fa;
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.btn-item:hover,
.btn-item:active {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color:var(--letter-color);
  background: var(--brand-color);
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}
.gallery-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color:var(--text-color);
}
